* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background: url(../images/fond\ site\ opacité\ réduite.png)no-repeat;
    background-size: cover;
}



.row-limit-size {
    min-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.picto-haut {
    align-items: start;
    z-index: 2;
}

li {
    display: inline;
    margin-right: 20px;
}

.burger>ul>li {
    display: none;
    background-color: beige;
    border: 2px solid beige;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    border-radius: 20px;
}

.flex {
    display: flex;
}

header .head-top {
    text-align: center;
    justify-content: space-between;
}

header figure {
    padding: 20px 10px;

}

header nav ul {
    list-style-type: none;

}

.main-menu ul li {
    position: relative;
}

.main-menu>ul>li>a {
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

@media screen and (max-width: 932px) {
    .main-menu>ul>li>a {
        padding: 0 5px;
    }

}


.presentation {
    background: url(../images/Spa\ &\ Beauty.jpg)no-repeat;
    height: 800px;
    background-size: cover;
    padding: 50px 30px;

}

.presentation p {
    text-align: center;
    font-size: 50px;
    color: #2b2823;
    font-family: 'Jim Nightshade', cursive;
    background: none;
    margin-top: 200px;
}

.services p {
    background: none;
    text-align: center;
    font-family: 'Jim Nightshade', cursive;
    color: #2B2823;
    padding: 100px;
    line-height: 1.5;
    font-size: 50px;
}

.detente {
    display: flex;
    height: 800px;
    background-size: cover;
    margin-left: 250px;
}

h1 {
    text-align: center;
    color: #222;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.social {
    display: block;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
}